Host mys15
	HostName host15.rcahosting.com
	User rasp 
	Port 21395
	IdentityFile ~/.ssh/RCAHosting/id_rsa
Host mys17
	HostName host17.rcahosting.com
	User * 
	Port 21395
	IdentityFile ~/.ssh/RCAHosting/id_rsa
Host host16.rcahosting.com
	HostName host16.rcahosting.com
	User rasp
	Port 21395
	IdentityFile ~/.ssh/RCAHosting/id_rsa
